.form-group {
    display: grid;
    gap: 0.2rem;
}

.form-group label{
    text-transform: uppercase;
    font-weight: 700;
    color: #c4c4c4;
}

.form-group input{
    background: transparent;
    min-height: 3.5rem;
    border-radius: 1rem;
    padding: 1rem;
    border: 1px solid #3a655b;
    outline: none;
}

.form-group input:focus-visible{
    outline: 2px solid #c1c1c1;
}

.task-form {
    display: grid;
    gap: 1rem;
}

.actions {
    display: grid;
    gap: 1rem;
}
